@page
@model IndexModel

@{
   Layout = "_BlankLayout";
}

<div class="card-body mt-5">
   <form method="post" class="row g-3 needs-validation" id="registerForm" novalidate>
      <div class="col-md-8">
         <label class="form-label">Nama Lengkap</label>
         <input class="form-control" type="text" asp-for="PostModel.Nama" required>

         <div class="valid-feedback">
            Isian anda sudah sesuai!
         </div>

         <div class="invalid-feedback">
            Mohon isi nama lengkap anda.
         </div>
      </div>

      <div class="col-md-4">
         <div class="input">
            <label class="form-label">Nomor HP</label>
            <input class="form-control" type="tel" asp-for="PostModel.NomorHp" id="phone" required>
         </div>

         <div class="valid-feedback">
            Isian anda sudah sesuai!
         </div>

         <div class="invalid-feedback">
            Mohon isi nomor hp anda.
         </div>
      </div>

      <div class="col-md-4">
         <label class="form-label">Tanggal Lahir</label>
         <input class="form-control" asp-for="PostModel.TanggalLahir" id="tanggalLahir" required>

         <div class="valid-feedback">
            Isian anda sudah sesuai!
         </div>

         <div class="invalid-feedback">
            Mohon isi tanggal lahir anda.
         </div>
      </div>

      <div class="col-md-5">
         <label class="form-label">Email</label>
         <input class="form-control"  type="email" asp-for="PostModel.Email" required>

         <div class="valid-feedback">
            Isian anda sudah sesuai!
         </div>

         <div class="invalid-feedback">
            Mohon isi email anda.
         </div>
      </div>

      <div class="col-md-3">
         <label class="form-label">Jenis Kelamin</label>

         <div class="form-group">
            <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" asp-for="PostModel.JenisKelamin" value="L" required>
               <label class="form-check-label">Pria</label>
            </div>

            <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" asp-for="PostModel.JenisKelamin" value="P" required>
               <label class="form-check-label">Wanita</label>
            </div>
         </div>

         <div class="valid-feedback">
            Isian anda sudah sesuai!
         </div>

         <div class="invalid-feedback">
            Mohon isi jenis kelamin anda.
         </div>
      </div>

      <div class="col-md-12">
         <label class="form-label">Alamat Lengkap</label>
         <input class="form-control" type="text" asp-for="PostModel.Alamat" required>

         <div class="valid-feedback">
            Isian anda sudah sesuai!
         </div>

         <div class="invalid-feedback">
            Mohon isi alamat lengkap anda.
         </div>
      </div>

      <div class="col-md-5">
         <label class="form-label">Provinsi</label>

         <select class="form-select" asp-for="PostModel.KodeProvinsi" id="provinsi" required>
            <option selected disabled value="">Silahkan pilih ...</option>
         </select>

         <div class="valid-feedback">
            Isian anda sudah sesuai!
         </div>

         <div class="invalid-feedback">
            Mohon isi provinsi tempat anda tinggal.
         </div>
      </div>

      <div class="col-md-5">
         <label class="form-label">Kabupaten/Kota</label>

         <select class="form-select" asp-for="PostModel.KodeKabupatenKota" id="kabupatenKota" required>
            <option selected disabled value="">Silahkan pilih ...</option>
         </select>

         <div class="valid-feedback">
            Isian anda sudah sesuai!
         </div>

         <div class="invalid-feedback">
            Mohon isi kabupaten/kota tempat anda tinggal.
         </div>
      </div>

      <div class="col-md-2">
         <label class="form-label">Kode Pos</label>
         <input class="form-control" type="text" asp-for="PostModel.KodePos" required>

         <div class="valid-feedback">
            Isian anda sudah sesuai!
         </div>

         <div class="invalid-feedback">
            Mohon isi kode pos tempat anda tinggal.
         </div>
      </div>

      <div class="col-12">
         <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" required>
            <label class="form-check-label consent">
               Dengan ini saya setuju untuk memberikan izin bagi K.REEN untuk menggunakan informasi yang telah saya isi
               dalam formulir ini untuk mengirimkan kepada saya Email/WA mengenai Pembaruan/<em>Updates</em>,
               Berita/<em>Newsletter</em> serta Informasi Marketing dan Promosi lainnya.
            </label>
            <div class="invalid-feedback">
               Mohon isi persetujuan anda.
            </div>
         </div>
      </div>

      <div class="col-12">
         <button class="btn btn-primary" type="submit">Kirim</button>
      </div>
   </form>
</div>

@section Styles
{
<link rel="stylesheet" 
   href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.css"
   integrity="sha512-MQXduO8IQnJVq1qmySpN87QQkiR1bZHtorbJBD0tzy7/0U9+YIC93QWHeGTEoojMVHWWNkoCp8V6OzVSYrX0oQ=="
   crossorigin="anonymous" 
   referrerpolicy="no-referrer" />
}

@section Scripts
{
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"
   integrity="sha512-K/oyQtMXpxI4+K0W7H25UopjM8pzq0yrVdFdG21Fh5dBe91I40pDd9A4lzNlHPHBIP2cwZuoxaUSX0GJSObvGA=="
   crossorigin="anonymous" 
   referrerpolicy="no-referrer">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"
   integrity="sha512-zJYu9ICC+mWF3+dJ4QC34N9RA0OVS1XtPbnf6oXlvGrLGNB8egsEzu/5wgG90I61hOOKvcywoLzwNmPqGAdATA=="
   crossorigin="anonymous" 
   referrerpolicy="no-referrer">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.4.3/imask.min.js" 
   integrity="sha512-yJ3vm1HmQtcgeMtbUYCp7PuTLyjU+ffCnVNTuE1Uccv1BmkoaJIXt1EjBVGnscjCILc62hTJJJ2rJJBTcw8RjQ==" 
   crossorigin="anonymous" 
   referrerpolicy="no-referrer">
</script>

<script>
   (function () {
      "use strict";
      let registerForm = document.getElementById("registerForm");
      addFormSubmitListener(registerForm, triggerInputChangeEvent, [initPhoneMaskInput()]);
      radioInputAttachValidationHook();
      selectProvinsiAttachChangeHook();
      let today = new Date();
      let picker = flatpickr("#tanggalLahir", {
         altInput: true,
         onValueUpdate: flatpickrUpdateValidStatus,
         onClose: flatpickrUpdateValidStatus,
         minDate: new Date(today.getFullYear() - 90, today.getMonth(), today.getDay()),
         maxDate: new Date(today.getFullYear() - 7, today.getMonth(), today.getDay())
      });
      fetchProvinsi();
   })();
</script>
}
